<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Go ToDo List</title>
	
	<link href="/css/bootstrap.css" media="screen" rel="Stylesheet" type="text/css" />
	<style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	      .sidebar-nav {
	        padding: 9px 0;
	      }
			label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
			
	    </style>
	<meta name="author" content="John Wesonga">
	<!-- Date: 2012-05-23 -->
</head>
<body>
	
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Go ToDo List</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>GoToDo</h2>
        <p>A Todo List app written in Go</p>
      </div>
	<div class="row">
	<div class="span4">
		<div id="error" class="alert alert-error" style="display:none;">
		  <h4 class="alert-heading">Error:</h4> Unable to locate email address from specific domain
		</div>
	</div>
	<div class="span4">
		<div id="success" class="alert alert-success" style="display:none;">
		  <h4 class="alert-heading">ToDo item added!</h4>
		</div>
	</div>
	</div>

    <form method="POST" action="#">
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">Title</label>
	    <div class="controls">
	      <input type="text" id="title" name="title" placeholder="title">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Description</label>
	    <div class="controls">
	      <textarea rows="3" id="description" name="description"></textarea>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button type="submit" class="btn" id="add">Add</button>
	    </div>
	  </div>
	</form>
	
	<table class="table table-striped table-hover" id="todolist">
	 	{{range $index, $results := .}}			
		<tr>
			<td>{{add $index 1}}</td>
			<td>{{.Title}}</td>
			<td>{{.Description}}</td>
			<td><a href="/delete/{{format .Id}}" id="remove" name="remove">Delete</a></td>
			</tr>
		{{end}}
	</table>

      <hr>

      <footer>
        <p>&copy; Go Todo List</p>
      </footer>

    </div> <!-- /container -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
